name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  IMAGE_BASE: ghcr.io/${{ github.repository }}/billettkontroll

jobs:
  build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw clean package -DskipTests -B

      - name: Run tests
        run: ./mvnw test -B

      - name: Build and push Docker image
        if: github.ref == 'refs/heads/main'
        uses: nais/docker-build-push@87f920b0411b987d9a1fd4113aa384e1e3b54f2c
        id: docker-build-push
        with:
          team: teampensjon
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy-dev:
    name: Deploy to dev
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Deploy to dev-gcp
        uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/app.yaml
          VAR: image=${{ needs.build.outputs.image }}
          PRINT_PAYLOAD: true

#  deploy-prod:
#    name: Deploy to prod
#    needs: [build]
#    if: github.ref == 'refs/heads/main'
#    runs-on: ubuntu-latest
#    permissions:
#      contents: read
#      id-token: write
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v6
#
#      - name: Deploy to prod-gcp
#        uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
#        env:
#          CLUSTER: prod-gcp
#          RESOURCE: .nais/app-prod.yaml
#          VAR: image=${{ needs.build.outputs.image }}
#          PRINT_PAYLOAD: true
